<div class="card mb-3">
    <h5 class="card-header">by:
        <%- comms["userName"] %>
    </h5>
    <div class="card-body">
        <p class="card-text">
            <%- comms["comment"] %>
        </p>
    </div>
</div>