<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>


    <div class="container">
        <%- include("partials/navbar.ejs") %>
            <h1 class="display-4">Silence: My posts </h1>
            <p class="lead"></p>
    </div>

    <div class="container">
        <p>Total count:
            <%- posts.length %>
        </p>
        <div class="row row-cols-1 row-cols-md-2 ">
            <div class="col">
                <% posts.slice(0, Math.round(posts.length/2)).forEach(function(post) { %>
                    <%- include("partials/postCards.ejs", {post,isEditable:true}) %>

                        <% }) %>
            </div>
            <div class="col">
                <% posts.slice(Math.round(posts.length/2)).forEach(function(post) { %>
                    <%- include("partials/postCards.ejs", {post,isEditable:true}) %>

                        <% }) %>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <a href="/npost" class="btn btn-primary">Create New Post</a>
        </div>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/jquery/jquery.min.js"></script>
</body>

</html>